---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro";
import Frank from "../components/Frank.astro";
import RobotCard from "../components/RobotCard.astro";
import { robots } from "../utils/texts";
---

<Layout title="Frank Bots Maker">
  <main>
    <Welcome />
    <Frank />

    <section class="my-robots">
      <h3>My Robots</h3>

      <div class="cards">
        <RobotCard
          title={robots[1].title}
          description={robots[1].description}
          iconUrl={robots[1].iconUrl}
          price={robots[1].price}
          color={robots[1].color}
        />

        <RobotCard
          title={robots[2].title}
          description={robots[2].description}
          iconUrl={robots[2].iconUrl}
          price={robots[2].price}
          color={robots[2].color}
        />

        <RobotCard
          title={robots[3].title}
          description={robots[3].description}
          iconUrl={robots[3].iconUrl}
          price={robots[3].price}
          color={robots[3].color}
        />
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 4rem;
  }

  .my-robots {
    padding: 8rem 4rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      font-family: "Good times";
      font-size: 32px;
    }

    .cards {
      margin: 2rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3rem;
    }
  }
</style>
