---
interface Props {
  title: string;
  description: string;
  color: "red" | "yellow" | "blue" | "green";
  img: string;
}

const { title, description, color, img } = Astro.props;

const colors = {
  red: "#ff3632",
  yellow: "#fff001",
  blue: "#00eaff",
  green: "#24d201",
};
---

<div
  class={`card ${color}`}
  style={{
    borderColor: colors[color],
  }}
>
  <img src={img} alt={title} />
  <h3 style={{ color: colors[color] }}>{title}</h3>
  <span>{description}</span>
</div>

<style>
  @property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }

  .card {
    /* background: #191c29; */
    background-color: black;
    width: 275px;
    height: 350px;
    position: relative;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    color: white;
    text-align: center;
    font-family: "N27";

    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
      flex: 1/2;
    }

    span {
      font-size: 14px;
      flex: 1/2;
    }
  }
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 16px;
    position: absolute;
    z-index: -1;
    animation: spin 2.5s linear infinite;
  }

  .card.yellow::before {
    background-image: linear-gradient(
      var(--rotate),
      #fff001,
      #8b8202 43%,
      #fdbe49
    );
  }

  .card.red::before {
    background-image: linear-gradient(
      var(--rotate),
      #ff3632,
      #850402 43%,
      #f0605d
    );
  }

  .card.green::before {
    background-image: linear-gradient(
      var(--rotate),
      #24d201,
      #198603 43%,
      #86ee71
    );
  }

  .card.blue::before {
    background-image: linear-gradient(
      var(--rotate),
      #00eaff,
      #24a7db 43%,
      #73eaf5
    );
  }

  .card::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(350px / 6));
    opacity: 1;
    transition: opacity 0.5s;
    animation: spin 2.5s linear infinite;
  }

  .card.yellow::after {
    background-image: linear-gradient(
      var(--rotate),
      #fff001,
      #8b8202 43%,
      #fdbe49
    );
  }

  .card.red::after {
    background-image: linear-gradient(
      var(--rotate),
      #ff3632,
      #850402 43%,
      #f0605d
    );
  }

  .card.green::after {
    background-image: linear-gradient(
      var(--rotate),
      #24d201,
      #198603 43%,
      #86ee71
    );
  }

  .card.blue::after {
    background-image: linear-gradient(
      var(--rotate),
      #00eaff,
      #24a7db 43%,
      #73eaf5
    );
  }

  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
</style>
