---
import Card from "./Card.astro";
import { cards } from "../utils/cards.ts";
---

<section id="home" class="info">
  <div class="cards animate__animated animate__bounceInLeft">
    <Card
      img={cards[1].img}
      title={cards[1].title}
      description={cards[1].description}
      color="blue"
    />
    <Card
      img={cards[2].img}
      title={cards[2].title}
      description={cards[2].description}
      color="green"
    />
  </div>

  <img
    class="frank animate__animated animate__bounceInDown"
    src="/assets/frank.png"
    alt="frank bots maker"
    style="height: 750px;"
  />

  <div class="cards animate__animated animate__bounceInRight">
    <Card
      img={cards[3].img}
      title={cards[3].title}
      description={cards[3].description}
      color="red"
    />
    <Card
      img={cards[4].img}
      title={cards[4].title}
      description={cards[4].description}
      color="yellow"
    />
  </div>
</section>

<style>
  .info {
    margin-top: 4rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    -webkit-animation: fadeIn 0.5s ease;
    animation: fadeIn 0.5s ease;

    .frank {
      display: none;
    }

    .cards {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
    }
  }

  @media (min-width: 1060px) {
    .info {
      flex-direction: row;

      .frank {
        display: initial;
      }

      .cards {
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        flex-direction: column;
      }
    }
  }
</style>
