---
import { robots } from "../utils/robots";
import { RobotCard } from "./RobotCard";
---

<section id="robots" class="my-robots">
  <h3>My Robots</h3>

  <div class="cards animate__animated animate__fadeIn">
    <RobotCard
      client:visible
      bgUrl={robots[1].bgUrl}
      title={robots[1].title}
      description={robots[1].description}
      iconUrl={robots[1].iconUrl}
      color={robots[1].color}
      priceWithDiscount={robots[1].priceWithDiscount}
      type={robots[1].type}
    />

    <RobotCard
      client:visible
      bgUrl={robots[2].bgUrl}
      title={robots[2].title}
      description={robots[2].description}
      iconUrl={robots[2].iconUrl}
      color={robots[2].color}
      priceWithDiscount={robots[2].priceWithDiscount}
      type={robots[2].type}
    />

    <RobotCard
      client:visible
      bgUrl={robots[3].bgUrl}
      title={robots[3].title}
      description={robots[3].description}
      iconUrl={robots[3].iconUrl}
      color={robots[3].color}
      priceWithDiscount={robots[3].priceWithDiscount}
      type={robots[3].type}
    />
  </div>
</section>

<style>
  .my-robots {
    padding: 4rem 0;
    padding-top: 6rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      font-family: "Good times";
      font-size: 32px;
    }

    .cards {
      margin: 2rem 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }

  @media (min-width: 600px) {
    .my-robots {
      .cards {
        flex-direction: row;
      }
    }
  }
</style>
./RobotCard/RobotCard ../utils/cards
